# Core packages
streamlit
pandas
numpy
joblib
torch

# Machine Learning
scikit-learn

# NLP (for HMM Tagger)
spacy
scipy

# Model: en_core_web_md (not installed via pip)
# This line is a comment reminder:
# Run separately after install: python -m spacy download en_core_web_md

https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0.tar.gz 